include includes/header.pug
link(rel='stylesheet', href='/styles/style.css')
link(rel='stylesheet', href='/styles/sidebar.css')
script(src='/javascript/sidebar.js', defer)
body
    include includes/sidebar.pug

    #sidebarExtension.bg-light 
        header.text-center.pt-4 
            .large-icon.bg-white.round 
                img.round(src=user.avatarUrl(128), alt=user.username)
            h4.pt-2 #{user.username}
                span.text-muted #{'#' + user.discriminator.toString().padStart(4, '0')}

    include includes/navbar.pug
    .main.text-center
        br
        br
        h1.display-3 Dashboard