include includes/header.pug
body
    include includes/navbar.pug
    .bg-light.text-center
        br
        br
        h1.display-3 JustAnotherDiscordBot
        br
        br
        p.lead Hi! I am JustAnotherDiscordBot, a multipurpose discord bot!
        br
        br
        button.btn.btn-dark(type='button') Add
        br
        br