nav.navbar.navbar-expand-lg.navbar-light
  .container-fluid
    a.navbar-brand(href='/') JustAnotherDiscordBot
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbar.collapse.navbar-collapse
      .navbar-nav
        a.nav-link(href='/commands')
          i.fas.fa-code
          span.pl-5  Commands
        
        a.nav-link(href='https://github.com/JustAnother-Programmer/JADB')
          i.fab.fa-github-square
          span.pl-5  Source Code
      .mx-left-auto
        if user 
          .dropdown.mr-3
            .dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
               img.user-avatar.round(src=user.avatarUrl(32))
               span.pl-2 #{user.username}
                ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
                  li
                    a.dropdown-item(href='/dashboard') Dashboard
                  li 
                    hr
                  li
                    a.dropdown-item(href='/logout') Logout

          a.nav-link(href='/dashboard') 
            i.fas.fa-sign-in-alt
            span.pl-5  
              img.user-avatar
              span #{user.username}
        else 
          a.nav-link(href='/login') 
            i.fas.fa-sign-in-alt
            span.pl-5  Login