nav.navbar.navbar-expand-lg.bg-transparent
  .container-fluid
    a.navbar-brand(href='/') JustAnotherDiscordBot
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbar.collapse.navbar-collapse
      .navbar-nav
        a.nav-link(href='/commands')
          i.fas.fa-code
          span.ps-1  Commands
        
        a.nav-link(href='https://github.com/JustAnother-Programmer/JADB', target='_blank')
          i.fab.fa-github-square
          span.ps-1  Source Code
      .navbar-nav.ms-auto
        if user 
          .dropdown
            a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
              img.user-avatar.round(src=user.avatarUrl(32))
              span.ps-2  #{user.username}
            ul.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuLink')
              li
                a.dropdown-item(href='/dashboard') #[i.fas.fa-user-cog] Dashboard
              li 
                hr
              li
                a.dropdown-item(href='/logout') #[i.fas.fa-sign-out-alt] Logout
        else 
          a.nav-link(href='/login') 
            i.fas.fa-sign-in-alt
            span.ps-1  Login